header{
  animation: loader 1s;
}
section{
animation: loader 1s;
}
footer{
  animation: loader 1s;

}
@keyframes loader {
  from {
      margin-top: 50%;
      opacity: 0.5;
  }

  to {
      opacity: 1;
  }
}
body {
  height: 100%;
  font-size: large;
  transition: all 0.5s;

}